* {
	box-sizing: border-box;
}
h3{
	text-align:center;
}
.g2048{
	border: 4px solid #bbad9e;
	width: 500px;
	height: 500px;
	margin: 30px auto;
	position: relative;
}
.cell{
	float: left;
	height: 20%;
	width: 20%;
	box-sizing:border-box;
	border: 4px solid #bbad9e;
}
.number_cell{
	position: absolute;
	box-sizing:border-box;
	width: 20%;
	height: 20%;
	padding: 4px;
	left: 0;
	top: 0;
	transition: all 0.2s;
	color: #fff;
	font-size: 20px;
}
.number_cell_con{
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
}
.number_cell_con span{
	position: absolute;
	top: 50%;
	margin-top: -0.5em;
	left: 10;
	right: 0;
}
/*位置*/
.p00{left:0;top:0;} .p01{left:0; top:20%; } .p02{left:0; top:40%; } .p03{left:0; top:60%; } .p04{left:0; top:80%; } .p10{left:20%; top:0; } .p11{left:20%; top:20%; } .p12{left:20%; top:40%; } .p13{left:20%; top:60%; } .p14{left:20%; top:80%; } .p20{left:40%; top:0; } .p21{left:40%; top:20%; } .p22{left:40%; top:40%; } .p23{left:40%; top:60%; } .p24{left:40%; top:80%; } .p30{left:60%; top:0; } .p31{left:60%; top:20%; } .p32{left:60%; top:40%; } .p33{left:60%; top:60%; }.p34{left:60%; top:80%; } .p40{left:80%;top:0;} .p41{left:80%; top:20%; } .p42{left:80%; top:40%; } .p43{left:80%; top:60%; } .p44{left:80%; top:80%; }
/*颜色*/
.n2{background: #eee4da; color: #000; } .n4{background: #ece0c8; color: #000; } .n8{background:#f3b179; } .n16{background:#f59563; } .n32{background:#f67c5f; } .n64{background:#f65e3c; } .n128{background:#edce71; } .n256{background:#eccb61; } .n512{background:#edc750; } .n1024{background:#edc631; } .n2048{background:#edc12f; }
